.analyzer {
  padding: ($space-1 * 4);
  color: $color-text-1;
  border-color: $color-text-1;

  h4.title {
    font-size: $font-size-extrabig;
    font-weight: 500;
    line-height: 1.6;
  }

  p.subtitle {
    text-transform: uppercase;
    font-size: $font-size-small;
  }

  .c-filters-item {
    color: $color-text-1;

    & > .filter-item-header {
      color: inherit;

      .title-icon {
        border: solid 1px rgba(74, 89, 106, 0.13);
        fill: $color-text-1;
        &:hover {
          background-color: transparent;
          fill: palette(black);
        }
      }

      .title {
        color: inherit;
      }
    }
  }

  .c-custom-select {
    color: inherit;
    border-color: inherit;
    &:after {
      border-bottom-color: inherit;
    }
    .custom-select-text {
      color: inherit;
    }
    .custom-select-search {
      color: inherit;
    }
    .custom-select-options li {
      color: inherit;
      &.-selected {
        background-color: palette(gray, lightest);
      }
    }
  }

  .c-radio {
    label {
      color: palette(gray, primary);
      span {
        border-color: palette(blue, secondary);
      }
    }
    input[type=radio]:checked + label {
      color: inherit
    }
  }
}

// Might make sense to move this to aqueduct-components eventually
$dark-sand: darken(palette(sand, primary), 8%);

.analyzer-tabs {
  width: 100%;
  background-color: $dark-sand;
  .c-segmented-ui.-tabs-light {
    background-color: inherit;
    .segmented-ui-item.-active {
      .segmented-ui-btn {
        background: palette(sand, primary);
      }
    }
    .segmented-ui-btn {
      color: palette(gray, primary);
      background-color: inherit;
      text-transform: none;
      letter-spacing: 0.5px;
      font-size: 15px;
    }
  }
}

.downloadable-table {
  .analyzer-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .expand-table-icon {
      width: 15px;
      height: 15px;
      fill: palette(gray, dark);
    }
  }

  .analyzer-content {
    position: relative;
    min-height: 150px;
    margin: $space-1 0 0;

    > .no-data-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 150px;

      > .no-data {
        color: palette(gray, dark);
      }
    }

    > .table-container {
      height: 225px;
      overflow-y: hidden;

      .c-table {
        height: calc(100% - 50px);
      }
    }
  }

  > .analyzer-footer {
    display: flex;
    justify-content: center;
    margin: $space-1 * 2 0 0;

    > .apply-analysis-btn {
      padding: ($space-1 / 2) $space-1 * 2;
      background: palette(blue, dark);
      font-size: $font-size-big;
      color: palette(white);
      text-transform: none;

      &:hover {
        background: darken(palette(blue, dark), 10%);
      }
    }
  }
}

.action-button {
  padding-top: $space-1;
  padding-bottom: $space-1;
  padding-left: $space-1 * 3;
  padding-right: $space-1 * 3;
  text-transform: uppercase;
  color: white;
  background-color: $color-primary;
  border-radius: 4px;
  font-size: $font-size-small;
  letter-spacing: 0.8px;
  font-weight: 500;
  transition: background-color 0.2s;

  &[disabled] {
    background-color: $gray-9;
    &:hover {
      background-color: $gray-9;
    }
  }

  &:hover {
    background-color: lighten($color-primary, 20%);
  }
}

.download-container {
  margin: $space-1 * 2 0;
  color: palette(blue, secondary);

  ul {
    display: inline-flex;

    > li {
      color: palette(gray, dark);
      margin: 0 0 0 $space-1;

      > button {
        color: inherit;
        font-weight: 500;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
          color: palette(blue, secondary);
        }
      }

      &.download-spinner {
        position: relative;
        margin: 0 0 0 $space-1 * 5;
      }
    }
  }

  .download-instructions {
    margin: $space-1 0 0 0;

    > a {
      color: palette(blue, secondary);
      text-decoration: underline;
    }
  }
}

.analyzer-import-modal {
  font-family: inherit;
  padding: $space-1 * 3;
  font-size: 1em;

  a {
    color: $color-primary;
  }

  h3 {
    font-weight: 500;
  }

  p {
    margin: 1em 0;
  }

  .error-text {
    color: $color-error;
    font-family: monospace;
  }

  .buttons {
    display: flex;

    & > *:not(:last-child) {
      margin-right: $space-1;
    }
  }
  
  .downloadable-table .analyzer-content > .table-container {
    height: 300px;
  }
  
  .progress-container {
    width: 100%;

    .progress-bar {
      position: relative;
      height: 20px;
      width: 100%;
      overflow: hidden;
      background-color: lighten($color-primary, 50%);
  
      .value {
        position: absolute;
        transition: background-color 0.2s, width 0.2s;
        background-color: $color-primary;
        width: 100%;
        height: 100%;
        
        &.indeterminate {
          transform-origin: 0% 50%;
          animation: indeterminateAnimation 1s infinite linear;
          background-color: lighten($color-primary, 20%);
        }
      }
    }

    .progress-text {
      text-align: center;
      margin-top: $space-1;
      color: $gray-5;
    }

    .complete-text {
      color: $color-primary;
      font-size: $font-size-big;
      text-align: center;
    }
  }

  @keyframes indeterminateAnimation {
    0% {
      transform:  translateX(0) scaleX(0);
    }
    40% {
      transform:  translateX(0) scaleX(0.4);
    }
    100% {
      transform:  translateX(100%) scaleX(0.5);
    }
  }

  .loading-content {
    height: $space-1 * 20;
    display: flex;
    align-items: center;
  }

  #upload-form {
    margin-top: $space-1 * 2;
    display: flex;

    .file-upload {
      flex-grow: 1;
      display: flex;
      align-items: center;
      margin-right: $space-1;
      border-bottom: 1px solid $color-primary;
      cursor: pointer;

      input[type="file"] {
        display: none;
      }
    }
  }
}

.c-modal.error {
  background: rgba(114, 10, 10, 0.9);
}