.analyzer {
  padding: ($space-1 * 4);
  color: $color-text-1;
  border-color: $color-text-1;

  h4.title {
    font-size: $font-size-extrabig;
    font-weight: 500;
    line-height: 1.6;
  }

  p.subtitle {
    text-transform: uppercase;
    font-size: $font-size-small;
  }

  .c-filters-item {
    color: $color-text-1;

    & > .filter-item-header {
      color: inherit;

      .title-icon {
        border: solid 1px rgba(74, 89, 106, 0.13);
        fill: $color-text-1;
        &:hover {
          background-color: transparent;
          fill: palette(black);
        }
      }

      .title {
        color: inherit;
      }
    }
  }

  .c-custom-select {
    color: inherit;
    border-color: inherit;
    &:after {
      border-bottom-color: inherit;
    }
    .custom-select-text {
      color: inherit;
    }
    .custom-select-search {
      color: inherit;
    }
    .custom-select-options li {
      color: inherit;
      &.-selected {
        background-color: palette(gray, lightest);
      }
    }
  }

  .c-radio {
    label {
      color: palette(gray, primary);
      span {
        border-color: palette(blue, secondary);
      }
    }
    input[type=radio]:checked + label {
      color: inherit
    }
  }
}

// Might make sense to move this to aqueduct-components eventually
$dark-sand: darken(palette(sand, primary), 8%);

.analyzer-tabs {
  width: 100%;
  background-color: $dark-sand;
  .c-segmented-ui.-tabs-light {
    background-color: inherit;
    .segmented-ui-item.-active {
      .segmented-ui-btn {
        background: palette(sand, primary);
      }
    }
    .segmented-ui-btn {
      color: palette(gray, primary);
      background-color: inherit;
      text-transform: none;
      letter-spacing: 0.5px;
      font-size: 15px;
    }
  }
}

.downloadable-table {
  .analyzer-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .expand-table-icon {
      width: 15px;
      height: 15px;
      fill: palette(gray, dark);
    }
  }

  .analyzer-content {
    position: relative;
    min-height: 150px;
    margin: $space-1 0 0;

    > .no-data-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 150px;

      > .no-data {
        color: palette(gray, dark);
      }
    }

    > .table-container {
      height: 225px;
      overflow-y: hidden;

      .c-table {
        height: calc(100% - 50px);
      }
    }
  }

  > .analyzer-footer {
    display: flex;
    justify-content: center;
    margin: $space-1 * 2 0 0;

    > .apply-analysis-btn {
      padding: ($space-1 / 2) $space-1 * 2;
      background: palette(blue, dark);
      font-size: $font-size-big;
      color: palette(white);
      text-transform: none;

      &:hover {
        background: darken(palette(blue, dark), 10%);
      }
    }
  }
}

.download-container {
  margin: $space-1 * 2 0;
  color: palette(blue, secondary);

  ul {
    display: inline-flex;

    > li {
      color: palette(gray, dark);
      margin: 0 0 0 $space-1;

      > button {
        color: inherit;
        font-weight: 500;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
          color: palette(blue, secondary);
        }
      }

      &.download-spinner {
        position: relative;
        margin: 0 0 0 $space-1 * 5;
      }
    }
  }

  .download-instructions {
    margin: $space-1 0 0 0;

    > a {
      color: palette(blue, secondary);
      text-decoration: underline;
    }
  }
}
