.c-btn {
  text-align: center;
  letter-spacing: .6px;
  font-size: $font-size-default;
  transition: all .1s linear;
  display: flex;
  align-items: center;

  &.-disabled {
    pointer-events: none;
    opacity: .4;
  }

  &.-primary {
    color: palette(blue, light);
    text-transform: uppercase;
    border: 1px solid palette(blue, light);
    font-weight: 500;
    border-radius: 3px;
    padding: 12px 25px;
    display: inline-block;

    &.-dark {
      background-color: palette(blue, darkest);
    }
  }

  &.-filters {
    padding: 8px 25px;

    @include only-desktop {
      width: 100%;
    }
    @include only-mobile {
      width: 100%;
    }
  }

  &.-fluid {
    width: 100%;
  }

  &:hover {
    color: palette(blue, lighter);
    border-color: palette(blue, lighter);
  }

  // SOCIAL STATES
  &.-facebook {
    display: inline-flex;
    background: #3b5998;
    color: $color-white;
    border-color: #3b5998;

    &:hover {
      background: darken(#3b5998, 10%);
    }
  }

  &.-twitter {
    display: inline-flex;
    background: #55acee;
    color: $color-white;
    border-color: #55acee;

    &:hover {
      background: darken(#55acee, 10%);
    }
  }

  &.-linkedin {
    display: inline-flex;
    align-items: flex-start;
    background: #007bb5;
    color: $color-white;
    border-color: #007bb5;

    &:hover {
      background: darken(#007bb5, 10%);
    }
  }

  // ACTION STATES
  &.-success {
    color: $color-white !important;
    border: 1px solid $color-success !important;
    background-color: $color-success !important;
  }

  &.-error {
    color: $color-white !important;
    border: 1px solid $color-error !important;
    background-color: $color-error !important;
  }

  &.-share {
    position: absolute;
    top: 0;
    right: $space-sidebar;
    z-index: 2;
    height: $space-sidebar;
    padding: 0 18px;
    font-size: $font-size-big;
    font-weight: 500;
  }

  &.-with-icon {
    > * {
      margin: 0 5px 0 0;
      &:last-child { margin: 0;}
    }
  }
}
