
/* Compare page */
.l-comparepage {
  background-color: $color-map;
}

/* Compare header */

.compare-header {
  display: flex;
  justify-content: space-between;;
  padding: 14px 32px;
  background-color: palette(blue);

  .back-link {
    color: palette(blue, light);
    font-size: $font-size-default;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .share-btn {
    color: palette(blue, light);
    font-weight: 500;
    font-size: $font-size-big;
    transition: color .1s linear;
    &:hover {
      color: palette(blue, lighter);
      svg {
        fill: palette(blue, lighter);
      }
    }
    svg {
      transition: fill .1s linear;
      fill: palette(blue, light);
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
    }
  }
}
/* Compareitem */

.compare-filters-text {
  font-weight: 300;
  font-size: $font-size-extrabig;
  color: palette(white);
  margin-right: 60px;
}

.compare-country-wrapper {
  display: flex;
  align-items: center;
}

.compare-filters {
  background-color: palette(blue, dark);
  .c-filters {
    .filters-section {
      background-color: transparent;
      max-width: 700px;
    }
  }
}
.compare-filters-section {
  padding: 24px 32px;
  &.-collapsed {
    padding: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
}
.compareitem-map {
  height: 430px;
  position: relative;
  .comparelist-item:first-child & {
    border-right: 3px solid #F5F1E0;
  }
}
.compareitem-widgets {
  position: relative;
  min-height: 200px;
}

.country-placeholder-text {
  color: #4a596a;
  font-size: $font-size-huge;
  opacity: .5;
  font-weight: 300;
}
.country-placeholder-icon {
  margin: 0 auto;
  display: block;
  fill: #4a596a;
  margin-bottom: 22px;
  opacity: .5;
}
.country-placeholder {
  background-color: #f5f1e0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
