
/* Comparelist */

/* Compareitem */

.compare-filters {
  background-color: $color-secondary;
}
.compare-filters-section {
  padding: 25px 40px;
  border-bottom: 2px solid $color-tertiary;
  &:last-child {
    border-bottom: 0;
  }
}
.compareitem-map {
  height: 430px;
}
.compareitem-widgets {
  position: relative;
  min-height: 200px;
}
