
/* Comparelist */

/* Compareitem */

.compare-filters {
  background-color: $color-secondary;
}
.compareitem-map {
  height: 430px;
}
.compareitem-widgets {
  position: relative;
  min-height: 200px;
}
