.c-download-map {
  display: flex;
  position: absolute;
  right: 10px;
  top: 122px;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 14px;

  @include only-desktop  {
    right: 160px;
    top: 10px;
    height: 30px;
    padding: 0 15px;
  }

  background: palette(white);
  box-shadow: 0 0 2px 0 rgba(palette(black), .26);
  z-index: 400;

  > .download-map-button {
    display: inline-flex;

    > svg {
      fill: palette(gray, dark);
    }

    &:hover {
      > svg {
        fill: palette(black);
      }
    }
  }

  > .c-spinner {
    > .spinner-box > .icon {
      width: 20px;
      height: 20px;
    }
  }
}
