.c-dynamic-map-header {
  position: absolute;
  top: #{$space-1 * 2 + 1};
  right: $space-1 * 10;
  width: 200px;
  z-index: 999;
  padding: $space-1 $space-1 * 2;
  background-color: rgba(245, 243, 240, .9);
  box-shadow: 0 0 2px rgba(palette(black), .25);
  text-align: center;

  > .title {
    font-family: $font-family-roboto;
    font-size: $font-size-default;
    color: palette(gray, 'dark');
    line-height: .9;
  }
}
