.c-filters {
  background: $color-secondary;
}

.filters-lead {
  background-color: $color-tertiary;
  padding-left: 31px;
}

.filters-section {
  border-bottom: 2px solid $color-tertiary;
  padding: 20px 14px 20px 31px;
  &:last-child {
    border-bottom: 0;
  }
}

.filters-family {
  margin-bottom: 25px;
  &.-push {
    margin-bottom: 40px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.filters-btn {
  display: inline-block;
  float: right;
  font-size: $font-size-big;
  font-weight: 500;
  color: $color-white;
  padding: 16px 27px;
  background-color: $color-secondary;
  border-radius: 3px;
  border: 1px solid $color-deactivate;
  transition: background-color .2s linear;
  &:hover {
    background-color: lighten($color-secondary, 10);
  }
}
