.c-filters {
  background: $color-secondary;

  &.-sidebar {
    .filters-section {
      padding: 20px 14px 20px 31px;
    }
  }
}

.filters-lead {
  background-color: $color-tertiary;
  padding-left: 31px;
}

.filters-section {
  border-bottom: 2px solid $color-tertiary;
  &:last-child {
    border-bottom: 0;
  }
}

.filters-family {
  margin-bottom: 25px;
  &.-push {
    margin-bottom: 40px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.filters-btn {
  display: inline-block;
  float: right;
  font-size: $font-size-big;
  font-weight: 500;
  color: $color-white;
  &:hover {

  }
}

.filters-btn-icon {
  fill: white;
  stroke: white;
  border: 1px solid $color-soft;
  border-radius: 50%;
  padding: 9px;
  vertical-align: middle;
  margin-left: 14px;
}
