.c-filters {
  background: $color-secondary;
  padding: 40px 25px 36px 40px;

  .collapsed-wrapper {
    background-color: $color-tertiary;
    margin: -40px -25px 0 -40px;
    padding: 0 25px 0 40px;
  }

  .wrapper {
    margin-bottom: 1.5rem;
  }

  .section {
    padding: 1.5rem 0;
    &.-lead {
      border-bottom: 2px solid $color-tertiary;
    }
  }
}

.filters-btn {
  display: inline-block;
  float: right;
  font-size: $font-size-big;
  font-weight: 500;
  color: $color-white;
  padding: 16px 27px;
  background-color: $color-secondary;
  border-radius: 3px;
  border: 1px solid $color-deactivate;
  transition: background-color .2s linear;
  &:hover {
    background-color: lighten($color-secondary, 10);
  }
}
