.c-header {
  background: white;
  width: 100%;
  height: $size-header;
  @include only-desktop {
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
  }

  nav {
    display: flex;
    justify-content: flex-end;;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    background: white;

    .list {
      display: flex;
      justify-content: space-between;

      > li {
        list-style: none;
        position: relative;
      }
    }
  }

  // LOGO
  .c-header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-indent: -9999px;
    padding: 0 ($space-1 * 2);
    margin: 0;

    a {
      display: block;
      width: 160px;
      height: $size-header;
      background: url('/images/logo.png') center no-repeat;
      background-size: contain;
    }
  }

  // BUTTONS
  .c-header-button {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: $size-header;
    padding: 0 ($space-1 * 2);
    background: white;
    color: $color-primary;
    fill: $color-primary;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.4px;
    transition: all $animation-time $ease-in-out-sine;
    text-transform: uppercase;

    > * {
      margin: 0 $space-1 0 0;
      &:last-child { margin: 0; }
    }

    &:hover { background: darken(white, 5%); }
    &:active { background: darken(white, 10%);}
    &.-active {
      background: $color-primary;
      color: white;
      fill: white;
    }
  }

  // SUBMENU
  .c-header-submenu {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    background: white;
    transition: all $animation-time $ease-in-out-sine;
    transform: translate(0,-10%);
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 1px 1px rgba(black,.15);

    &.-active {
      transform: translate(0,0%);
      opacity: 1;
      visibility: visible;
    }

    .item {
      width: 20%;
      list-style: none;
      display: block;
      padding: ($space-1 * 2);
      color: $color-primary;
      border-right: 1px solid rgba(white,.5);

      &:last-child {
        border-right: none;
      }


      svg {
        display: block;
        margin: 0 0 $space-1;
      }

      span {
        display: block;
      }

      &:hover, &.-active {
        background: $color-primary;
        color: white;
        fill: white;
      }
    }
  }
}
