// LEGEND
.c-legend {
  @include only-desktop {
    min-width: 444px;
  }

  &.-map {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 400px;
    z-index: 998;

    .legend-header {
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      > .legend-header-title {
        display: flex;
        align-items: center;
        flex: 1;
        height: 30px;
        padding: 1px 0 0 14px;

        background-color: rgba(245, 243, 240, .9);
        box-shadow: 0 0 2px rgba(palette(black), .25);

        font-size: $font-size-default;
        font-weight: 500;
        color: $color-text-1;
        text-transform: uppercase;
      }

      > .legend-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin: 0;

        background-color: palette(white);
        box-shadow: 0 0 2px rgba(palette(black), .25);
      }

      > .legend-btn > .legend-open-icon,
      > .legend-btn > .legend-close-icon {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0 auto;

        stroke: $color-text-1;
        stroke-width: 2px;
      }

      > .legend-btn > .legend-close-icon {
        display: none;
      }
    }

    > .legend-content {
      display: none;
      max-height: 375px;
      overflow-y: auto;
      background-color: rgba(245, 243, 240, .9);
      box-shadow: 0 0 2px rgba(palette(black), .25);
    }

    &.-expanded {

      .legend-header {
        justify-content: flex-end;

        > .legend-btn > .legend-open-icon {
          display: none;
        }

        > .legend-btn > .legend-close-icon {
          display: inline-block;
        }
      }

      > .legend-content {
        display: block;
      }
    }
  }
}

// ITEM
.c-legend-item {
  position: relative;
  list-style: none;
  padding: 24px;
  border-bottom: 1px solid $border-color-2;

  @include only-desktop {
    padding: 18px 14px;
  }


  &:last-child {
    border-bottom: none;
  }

  .legend-item-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
  }

  h3 {
    font-weight: 500;
    font-size: $font-size-big;
    color: $color-text-1;

    .category {
      font-weight: 400;
      text-transform: capitalize;
      padding: 0 $space-1 0 0;
    }
  }

  .error-message {
    font-size: $font-size-small;
    color: palette(gray, 'dark');
  }
}

// BUTTONS
.c-legend-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 0 0 5px;

  button {
  }

  > * {
    display: flex;
    list-style: none;
    margin: 0 0 0 14px;

    &:first-child {
      margin: 0;
    }

    .c-icon {
      fill: $color-text-1;
      width: 12px;
      height: 12px;
    }
  }

  .legend-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    svg {
      fill: $color-text-1;
      display: block;
    }

    &:hover {
      svg {
        fill: darken($color-text-1, 25%);
      }
    }
  }
}


// GRAPH
.c-legend-graph {


  .graph {
    margin: $space-1 0 0;

    // CHOROPLETH
    &.-choropleth {
      .graph-list {
        @include only-desktop {
          display: flex;
        }

        @include only-mobile {
          margin: 0 0 0 10px;
        }

        .graph-list-item {
          @include only-mobile {
            display: flex;
            align-items: center;

            &:not(:first-child) {
              margin: 10px 0 0;
            }
          }

          .color {
            display: block;

            @include only-mobile {
              width: 12px;
              height: 12px;
              border: 1px solid $border-color-2;
            }

            @include only-desktop {
              border-top: 1px solid $border-color-2;
              border-bottom: 1px solid $border-color-2;
              height: 7px;
            }
          }

          .label {
            display: block;
            margin: 0px 5px 0;
            line-height: 1.25;
            color: $color-text-1;
            font-size: $font-size-small;
            font-weight: 500;

            @include only-desktop {
              margin: 5px 5px 0 0;
            }
          }

          .value {
            display: block;
            line-height: 1.25;
            color: $color-text-1;
            font-size: 11px;
            font-weight: 400;

            @include only-desktop {
              margin: 3px 5px 0 0;
            }
          }

          &:first-child {
            .color {
              border-left: 1px solid $border-color-2;
            }
          }
          &:last-child {
            .color {
              border-right: 1px solid $border-color-2;
            }
          }
        }
      }
    }

    // CLUSTER
    &.-cluster {
      .graph-units {
        display: block;
        line-height: 1.25;
        color: $color-text-1;
        font-size: $font-size-small;
        font-weight: 500;
      }

      .graph-description {
        display: block;
        margin: $space-1 0 0;
        line-height: 1.25;
        color: $color-text-1;
        font-size: $font-size-small;
        font-weight: 400;
      }
      .graph-list {
        display: flex;
        margin-top: 28px;

        .graph-list-item {
          margin: 0 0 0 $space-1 * 2;

          &:first-child {
            margin: 0;
          }

          .color {
            display: block;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            border: 1px solid $border-color-2;
          }

          .label {
            display: block;
            line-height: 1.25;
            color: $color-text-1;
            font-size: $font-size-small;
            font-weight: 500;
            margin: 5px 0 0;
          }
        }
      }
    }

    // BASIC
    &.-basic {
      .graph-list {
        display: flex;
        flex-wrap: wrap;

        .graph-list-item {
          display: flex;
          width: calc(50% - #{$space-1});
          margin: 0 $space-1 5px 0;

          &:last-child {
            margin: 0;
          }

          @include only-desktop {
            width: calc(25% - #{$space-1});
            &:last-child {
              margin: 0;
            }
          }

          .color {
            display: block;
            width: 12px;
            height: 12px;
            border: 1px solid $border-color-2;
          }

          .label {
            display: block;
            line-height: 1.25;
            color: $color-text-1;
            font-size: $font-size-small;
            font-weight: 500;
            margin: 0 0 0 5px;
          }
        }
      }

      &.-disclaimer {
        margin: #{$space-1 * 2} 0 0;

        .graph-list-item {
          width: auto;
        }
      }
    }

    &.-group {

      .graph-group {
        margin: 0 0 10px;
        &:last-child { margin: 0; }

        .graph-group-name {
          color: $color-text-1;
        }
      }

      .graph-list {
        display: flex;
        flex-wrap: wrap;

        .graph-list-item {
          display: flex;
          width: calc(50% - #{$space-1});
          margin: 5px $space-1 0 0;

          &:last-child {
            margin: 5px 0 0;
          }

          @include only-desktop {
            width: calc(25% - #{$space-1});
            &:last-child {
              margin-right: 0;
            }
          }

          .color {
            display: block;
            width: 12px;
            height: 12px;
            border: 1px solid $border-color-2;
          }

          .label {
            display: block;
            line-height: 1.25;
            color: $color-text-1;
            font-size: $font-size-small;
            font-weight: 500;
            margin: 0 0 0 5px;
          }
        }
      }
    }
  }
}
