.c-map,
.map-leaflet {
  height: 100%;
}

.c-map-container {
  height: 100%;
  position: relative;
}
/*
  Leaflet overiding styles
*/

.leaflet-touch, .leaflet-touch-drag {
  .leaflet-bar {
    background-color: transparent;
    @include only-desktop {
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.26);
    }
    a {
      @include only-mobile {
        width: 48px;
        height: 48px;
        line-height: 48px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.26);
        font-size: 24px;
        &:last-child {
          margin-top: $space-1;
        }
      }
      @include only-desktop {
        width: 70px;
        height: 30px;
        line-height: 30px;
      }
      background-color: palette(white);
      font-size: 18px;
      &.leaflet-disabled {
        color: $color-text-1;
      }
    }
  }
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 0;
}

.leaflet-bar {
  box-shadow: none;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  a {
    @include only-mobile {
      display: block;
    }

    @include only-desktop {
      display: inline-block;
    }

    background-color: transparent;
    color: $color-text-1;
    border: 0;
    transition: background-color linear .3s;

    &:last-child {
      border-left: 1px solid #F5F4F0;
    }

    &.leaflet-disabled {
      background-color: #F3F3F3;
    }

    &:hover {
      border-bottom: 0;
      display: inline-block;;
    }

    &:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.leaflet-control-zoom {
  background-color: $color-white;
}

.leaflet-right .leaflet-control {
  margin-right: $zoom-margin-right;
}

.leaflet-top .leaflet-control {
  margin-top: $zoom-margin-top;
}

/* Mobile */

.mobile-map-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .mobile-widgets-container {
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 61px;
  }
}

.mobile-btns-wrapper {
  background-color: palette(white);
  box-shadow: 0 2px 3px 0 rgba(palette(black), 0.1);
  position: relative;
  z-index: 1;
}

.toggle-legend-btn {
  display: block;
  width: 48px;
  height: 48px;
  background-color: palette(white);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.26);
  position: absolute;
  z-index: 999;
  top: 9px;
  left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 50px;
    height: 50px;
    fill: #4a596a;
  }
}
