.c-modal-menu {
  color: white;
  font-weight: 300;

  ul {
    li {
      list-style: none;

      a {
        display: block;
        padding: $space-1 0;
        font-size: 28px;
        color: white;
      }
    }
  }

  .info {
    margin: $space-6 0 0;

    span {
      display: block;
      line-height: 1.5;
    }
  }
}
