.c-radio {
  label {
    display: block;
    padding: 2px 0;
    font-weight: 500;
    text-transform: none;
    position: relative;
    padding-left: 22px;
    line-height: 1;
    cursor: pointer;
    width: auto;
    top: 0;
    left: 0;
    transform: none;
    text-align: left;
    color: palette(blue, light);
    font-size: $font-size-big;
    transition: color .1s linear;

    &:hover {
      color: palette(blue, lighter);
    }

    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 15px;
      height: 15px;
      border: 1px solid palette(blue, light);
      border-radius: 50%;
      transform: translate(0,-50%);

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        background: palette(blue, secondary);
        border-radius: 50%;
        display: block;
        transform: translate(-50%,-50%) scale(0);
        transition: all $animation-time $ease-in-out-sine;
      }
    }
  }

  input[type=radio] {
    display: none;
  }

  input[type=radio]:checked + label {
    color: palette(white);

    span {
      border-color: palette(blue, secondary);
      width: 16px;
      height: 16px;
      &:after {
        transform: translate(-50%,-50%) scale(1);
      }
    }
  }
}

.c-radio-box {
  > * {
    margin: 0 0 10px;
    &:last-child {
      margin: 0;
    }
  }

  &.-inline {
    display: flex;
    > * {
      margin: 0 ($space-1 * 2) 0 0;
      &:last-child {
        margin: 0;
      }
    }
  }

  &.-filters {
    margin: ($space-1 * 4) 0 0 ($space-1 * 3);
  }
}
