.c-segmented-ui {
  display: flex;
  list-style-type: none;

  // Component themes
  // Tabs theme
  &.-tabs {
    .segmented-ui-item {
      border: 0;
      margin-right: 28px;

      &:last-child {
        margin-right: 0;
      }

      &.-active {
        .segmented-ui-btn {
          color: palette(white);
          &:after {
            width: 100%;
          }
        }
      }
    }

    .segmented-ui-btn {
      position: relative;
      font-size: $font-size-big;
      transition: all $animation-time linear;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 14px 0;
      color: palette(blue, light);

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        height: 3px;
        background: palette(blue, secondary);
        transform: translate(-50%,0);
        transition: all $animation-time $ease-in-out-cubic;
      }

      &:hover {
        color: palette(blue, lighter);
      }
    }
  }

  // Pills theme
  &.-pills {
    background-color: palette(blue);
    padding: $space-1 * 2;
    justify-content: center;
    .segmented-ui-item {
      font-size: $font-size-big;
      color: palette(blue, light);
      font-weight: 500;
      background-color: palette(blue, dark);
      border: 1px solid palette(blue, light);
      &.-active {
        background-color: palette(blue, darkest);
        color: palette(white);
      }
      &:first-child {
        &, .segmented-ui-btn {
          border-radius: 20px 0 0 20px;
        }
      }
      &:last-child {
        &, .segmented-ui-btn {
          border-radius: 0 20px 20px 0;
        }
        border-left: none;
      }
    }
    .segmented-ui-btn {
      padding: 7px 40px;
      display: inline-block;
    }
  }
}
