// Override React selectize styles
.c-select {
  position: relative;

  .title {
    color: palette(white);
    font-size: $font-size-extrabig;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .title-icon {
    background-color: palette(blue, light);
    fill: palette(blue);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 3px;
    margin-left: $space-1 * 2;
    cursor: pointer;
    transition: background-color .1s linear;
    &:hover {
      background-color: (blue, lightest);
    }
  }
}

.c-custom-select {
  &.-closed {
    .custom-select-options {
      display: none;
    }
  }
}
