// Override React selectize styles
.c-select {
  position: relative;

  .title {
    color: palette(white);
    font-size: $font-size-extrabig;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .title-icon {
    background-color: palette(blue, light);
    fill: palette(blue);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 3px;
    margin-left: $space-1 * 2;
    cursor: pointer;
    transition: background-color .1s linear;
    &:hover {
      background-color: (blue, lightest);
    }
  }
}

.react-selectize {
  &.root-node {
    width: 100%;
  }
  &.-fixed {
    max-width: 180px;
  }
  &.-disabled {
    opacity: .4;
    pointer-events: none;
  }
}

.simple-select {
  &.react-selectize {
    &.default {
      &.root-node {
        color: palette(white);

        &.open {
          .react-selectize-control {
            background-color: transparent;
          }
        }
        &:not(.open) {
          .react-selectize-control {
            background-color: transparent;
            background-image: none;
          }
        }
      }
    }
  }
}

.react-selectize {
  &.default {
    font-family: $font-family-roboto;
    font-size: 16px;
    &.root-node {
      &.open {
        .react-selectize-control {
          .react-selectize-placeholder {
            display: none;
          }
          .react-selectize-toggle-button {
            path {
              fill: $color-soft;
            }
          }
        }
      }

      .simple-value {
        margin: 0;
        font-weight: 500;
      }

      .react-selectize-control {
        border: 0;
        border-bottom: 1px solid rgba($color-white,.3);
        border-radius: 0;
        padding: 0;

        .react-selectize-search-field-and-selected-values {
          padding-left: 0;

          .resizable-input {
            color: $color-white;
            margin: 1px 0;
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        .react-selectize-placeholder {
          color: $color-white;
          text-indent: 2px;
          font-family: $font-family-roboto;
          font-size: 16px;
          max-width: calc(100% - 32px);
          font-weight: 500;
        }

        .react-selectize-toggle-button {
          path {
            fill: $color-soft;
          }
        }

        .react-selectize-reset-button {
          path {
            stroke: $color-soft;
          }
        }
      }
    }
  }
  .dropdown-menu {
    max-height: 435px;
    z-index: 9999;
    padding: 10px 0;

    .option-wrapper {
      background: $color-white;
    }

    &.default {
      border: none;
      background: $color-white;

      .no-results-found {
        background-color: $color-white;
      }

      &:not(.fliped) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: 0 -2px 4px 0 rgba(33, 62, 118, 0.09), 0 2px 4px 0 rgba(33, 62, 118, 0.09);
      }

      .option-wrapper {
        &.highlight {
          background: none;

          .simple-option {
            background: palette(blue, lightest);
          }
        }

        .simple-option {
          padding: 4px 10px;
          color: palette(blue, dark);
          font-weight: 500;
        }
      }
    }
  }
  &.dropdown-menu {
    &.default {
      .no-results-found {
        color: palette(blue, dark) !important;
      }
    }
  }
}

.react-selectize {
  .dropdown-menu.default {
    .no-results-found {
      box-shadow: 0 -2px 4px 0 rgba(33, 62, 118, 0.09), 0 2px 4px 0 rgba(33, 62, 118, 0.09);
      font-family: $font-family-roboto;
      font-size: 16px;
    }
  }
}
