.c-share {
  padding: 4rem;

  .share-title {
    font-family: $font-family-roboto;
    font-size: $font-size-huge;
    margin-bottom: 2rem;
  }
  .share-url {
    display: inline-block;
    width: 60%;
    padding: 10px;
    margin-right: 1rem;
    border-bottom: 1px solid $color-primary;
  }
}
