.c-share {
  padding: 4rem;

  .share-title {
    font-family: $font-family-roboto;
    font-size: $font-size-huge;
    margin-bottom: 2rem;
  }

  .share-button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    > * {
      display: block;
    }

    .share-url {
      width: 100%;
      height: 49px;
      padding: 0 10px;
      border: none;
      box-shadow: none;
      border-bottom: 1px solid $color-primary;
    }
  }

  .share-sozial {
    margin: 3rem 0 0;
    display: flex;
    justify-content: space-between;

    svg {
      fill: $color-white;
    }
  }
}
