.c-sidebar {
  background-color: $color-map;
  color: white;
  transform: translate(calc(-100% + 10px),0);
  transition: all $animation-time-2 $ease-in-out-sine;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.25) inset;

  &.-opened {
    transform: translate(0,0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }

  .sidebar-content {
    // display: flex;
    // flex-direction: column;
  }

  // Share button
  .btn-share {
    padding: 0;
    position: absolute;
    top: 12px;
    right: $space-1 * 2;
    z-index: 2;
    height: 30px;
    font-size: $font-size-big;
    font-weight: normal;
    color: palette(blue, light);
    transition: all $animation-time linear;
    font-weight: 500;
    display: flex;
    align-items: center;

    &:hover {
      color: palette(blue, lighter);
      svg {
        fill: palette(blue, lighter);
      }
    }

    svg {
      transition: all $animation-time linear;
      margin-right: 8px;
      fill: palette(blue, light);
    }
  }

  // Toggle button
  .btn-toggle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 100%;
    cursor: pointer;
    transition: background $animation-time-2 $ease-in-out-sine;
    width: 53px;
    height: 53px;
    background-color: palette(blue, secondary);

    svg {
      fill: palette(white);
      transition: all $animation-time $ease-in-out-sine,
                  transform $animation-time-2 $ease-in-out-sine $animation-time;
    }

    &:hover {
      background-color: darken(palette(blue, secondary), 4%);
    }

    &.-opened {
      box-shadow: none;

    }
  }
}
