.c-sidebar {
  background: $color-gray;
  color: white;
  transform: translate(calc(-100% + 60px),0);
  transition: all $animation-time-2 $ease-in-out-sine;

  &.-opened {
    transform: translate(0,0);
  }

  .btn-toggle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    fill: $color-primary;
    cursor: pointer;

    svg {
      margin: $space-1 0 0;
    }

    &:hover {
      fill: darken($color-primary, 5%);
    }

    &.-opened {
      height: 50px;
    }
  }
}
