.c-sticky-filters {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: palette(sand);
  box-shadow: 0 1px 0 0 #dbdfe5;

  .global-filters,
  .country-filters {
    display: flex;
    justify-content: space-between;
    padding: $space-1 ($space-1 * 4);

    > div {
      display: inline-block;
      margin: 0 ($space-1 * 3) 0 0;

      > .title {
        display: block;
        height: 18px;
        opacity: .5;
        color: palette(gray, 'dark');
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: .9px;
      }

      &:last-of-type {
        margin: 0;
      }

      .c-custom-select + .c-custom-select{
        margin: 0 0 0 ($space-1 * 2);
      }
    }
  }

  .global-filters {
    > div {
      flex-grow: 1;
      max-width: calc(25% - 12px);

      &:last-of-type {
        max-width: 25%;

        .c-custom-select {
          width: auto;
          &:last-of-type {
            width: 56%;
          }
        }
      }
    }
  }

  .country-filters {
    > div {
      .c-btn {
        color: palette(gray);
        border-color: palette(gray);
      }
    }
  }
}
