.c-sticky {

  &.-sticked {
    position: fixed;
    top: 0;
    animation: appear $animation-time 0s forwards;
  }

  &.-filter {
    z-index: 10;

    &.-sticked {
      left: 0;
      width: 100%;
      height: 40px;
    }
  }
}
