
.c-summary {
  padding: ($space-1 * 6) ($space-1 * 4) ($space-1 * 2);
  color: palette(gray, dark);
  border-bottom: solid 1px rgba(palette(blue, dark), .1);

  @include only-desktop {
    padding: ($space-1 * 6) ($space-1 * 4) ($space-1 * 4);
  }

  &:before {
    content: '';
    display: block;
    margin-bottom: $space-1 * 2;
    height: 2px;
    border-top: palette(blue, dark) 2px solid;
    width: 14px;
  }

  .summary-content {
    position: relative;
  }

  .summary-title {
    display: block;
    text-transform: uppercase;
    letter-spacing: .9px;
  }

  .summary-list {
    list-style: none;
    font-size: $font-size-big;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include only-desktop {
      justify-content: flex-start;
    }

    > li {
      width: calc(50% - 3px);
      margin: 0 0 $space-1 * 2;

      @include only-desktop {
        width: auto;
        margin: $space-1 * 2 0 0;

        &:not(:last-child) {
          margin: $space-1 * 2 $space-1 * 6 0 0;
        }
      }
    }

    .title {
      margin-bottom: $space-1;
      display: block;
    }

    .amount {
      display: block;
      font-weight: bold;
      color: palette(blue);
      font-size: $font-size-default;
    }
  }
}
