.c-timeline {
  margin-top: $space-1 * 1.5;
  padding: 40px 24px 0;

  .timeline-list {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 2px;
    list-style: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQYV2NkQAOMIP6Sw/99QHSMLeMW7ALIugAMHQgFiK4hAgAAAABJRU5ErkJggg==) repeat-x center;
  }

  .timeline-list-item {
    list-style-type: none;
    position: relative;
    width: 26px;
    height: 26px;
    background-color: #3f65a8;
    box-shadow: 0 0 0px 1px $color-soft inset;
    border: 5px solid $color-secondary;
    border-radius: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
    box-sizing: border-box;
    transition: all .1s $ease-in-cubic;

    &.-selected {
      background-color: $color-white;
      box-shadow: 0 0 0px 4px $color-primary inset;

      .timeline-label {
        background-color: $color-primary;
      }
    }

    &:hover {
      background-color: $color-white;
      color: darken($color-white, 10%);
    }

    .timeline-label {
      font-size: $font-size-big;
      line-height: $font-size-big;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, -8px);
      padding: 2px 8px;
    }

  }
}
