.c-tooltip {
  position: fixed;
  background-color: $color-white;
  box-shadow: 0 0 4px rgba(0, 0, 0, .5);
  padding: $space-1 * 2;
  z-index: 10001;
  pointer-events: none;

  .tooltip-title {
    color: $color-text-1;
    padding: 0 $space-1/2 $space-1/2;
  }

  .tooltip-list {
    list-style: none;

    .tooltip-list-item {
      list-style: none;
      color: $color-text-1;

      .title {
        font-weight: 500;
        text-transform: capitalize;
      }

      .value {
        font-weight: 500;
        text-transform: capitalize;
      }
    }
  }

  .tooltip-table {
    th, td {
      padding: 1px 4px;
      color: $color-text-1;
      text-transform: capitalize;
    }

    th {
      font-weight: 500;
      text-transform: capitalize;
    }
  }

}

.c-tooltip-invisible-div {
  position: absolute;
  width: 1px;
  height: 1px;
}
