.c-widget-text {
  padding: 15px 30px;
  color: $color-text-1;
  font-size: $font-size-extrabig;
  font-weight: 300;

  .widget-text-token {
    color: palette(blue);
    font-weight: 500;

    &.-commodity,
    &.-crop {
      text-transform: lowercase;
    }

    &.-verb {
      margin: 0;
      color: $color-text-1;
      font-weight: 300;
      text-transform: lowercase;
    }

    &.-year {
      text-transform: lowercase;
    }
  }
}
