.c-widget-list {
  padding: 0 ($space-1 * 2) ($space-1 * 4);
}

.c-widget {
  padding: ($space-1 * 4) ($space-1 * 2) 0;

  .widget-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 ($space-1 * 2);

    h2 {
      font-size: $font-size-default;
      color: $color-widgets;
      max-width: 50%;
    }
  }

  .widget-content {
    height: 250px;
    background: white;
    box-shadow: 0 1px 0 0 #dbdfe5;
  }
}


.c-widget-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > * {
    margin: 0 0 0 $space-1;
    list-style: none;
  }

  .widget-button {
    fill: $color-widgets;
    &:hover {
      fill: darken($color-widgets, 25%);
    }
  }
}
