.c-accordion {
  &.-closed {
    .accordion-content {
      display: none;
    }
  }
  &.-filters {
    .accordion-btn {
      display: flex;
      transition: transform $animation-time $ease-in-out-cubic;
      transform: rotate(0deg);
    }
    &.-closed {
      .accordion-btn {
        transform: rotate(180deg);
      }
    }
    .accordion-header {
      display: flex;
      justify-content: center;
      padding: $space-1 0;
    }
  }
}
