.c-accordion {
  .filters-collapse-btn {
    fill: palette(blue, light);
    transition: fill .1s linear;
    &:hover {
      fill: palette(blue, lighter);
    }
  }
  &.-closed {
    .accordion-content {
      display: none;
    }
  }
  &.-filters {
    .accordion-btn {
      display: flex;
      display: flex;
      transition: transform $animation-time $ease-in-out-cubic;
      transform: rotate(0deg);
    }
    &.-closed {
      .accordion-btn {
        transform: rotate(180deg);
      }
    }
    .accordion-header {
      display: flex;
      justify-content: center;
      padding: 20px 0;
      @include only-mobile {
        display: none;
      };
    }
  }
}
