{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "L": true,
    "config": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "rules": {
    "no-console": ["error", {
      "allow": ["warn", "error", "info"]
    }],
    "comma-dangle": ["error", "never"],
    "max-len": 0
  }
}
