body {
  padding: 0;
  margin: 0;
  font-family: $font-family-roboto;
  background: #fefefe;
  color: #0a0a0a;
  font-size: $font-size-default;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  appearance: none;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}
