html, body {
  height: 100%;
}

body {
  background: #EEE;
  font-family: 'Roboto';
  font-size: 14px;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

button {
  appearance: none;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}
