/*
  Utils
*/
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
  Responsive
*/
@mixin only-mobile() {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin only-desktop() {
  @media screen and (min-width: $breakpoint-mobile + 1) {
    @content;
  }
}

@mixin only-print() {
  @media print {
    @content;
  }
}
