/* Settings */
@import "~aqueduct-components/styles/settings";
@import "functions";
@import "reset";
@import "base";
@import "animations";
@import "mixins";

/* LIB */
@import "lib/foundation";

/* Vizzuality components */
@import "~vizzuality-components/dist/map";
@import "~vizzuality-components/dist/legend";

/* Aqueduct-components */
@import "~aqueduct-components/styles/accordion";
@import "~aqueduct-components/styles/btn";
@import "~aqueduct-components/styles/checkbox";
@import "~aqueduct-components/styles/dropdown";
@import "~aqueduct-components/styles/filters";
@import "~aqueduct-components/styles/icon";
@import "~aqueduct-components/styles/iframe";
@import "~aqueduct-components/styles/info";
@import "~aqueduct-components/styles/header";
@import "~aqueduct-components/styles/map";
@import "~aqueduct-components/styles/map-controls";
@import "~aqueduct-components/styles/map-header";
@import "~aqueduct-components/styles/modal";
@import "~aqueduct-components/styles/radio";
@import "~aqueduct-components/styles/segmentedui";
@import "~aqueduct-components/styles/select";
@import "~aqueduct-components/styles/share";
@import "~aqueduct-components/styles/sidebar";
@import "~aqueduct-components/styles/sticky";
@import "~aqueduct-components/styles/sticky-filters";
@import "~aqueduct-components/styles/spinner";
@import "~aqueduct-components/styles/table";
@import "~aqueduct-components/styles/timeline";
@import '~react-redux-toastr/src/styles/index';

/* LAYOUTS */
@import "layouts/main";

/* COMPONENTS */
@import "components/bubble-marker";
@import "components/chart";
@import "components/compare";
@import "components/embed";
@import "components/filters";
@import "components/infowindow";
@import "components/legend";
@import "components/report";
@import "components/summary";
@import "components/text";
@import "components/tooltip";
@import "components/swipe";
@import "components/switch";
@import "components/user-report";
@import "components/widget";
@import "components/widget-text";
@import "components/widget-image-modal";
