.l-app {
  min-width: 960px;
}
.l-main {
  background: white;
  box-shadow: 0 0 5px rgba(black, 0.1);
  padding-top: $size-header;
}

.l-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.l-content {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

// Util class, must override height property value
.-fullscreen {
  height: calc(100vh - #{$size-header}) !important;
}

.l-fullheight {
  min-height: 100vh;
}

.l-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  max-width: $max-width-sidebar;
  display: flex;
  flex-direction: column;
  z-index: 999;
  overflow: auto;
  min-width: 650px;

  .l-filters {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .l-sidebar-toggle {
    position: absolute;
    z-index: 2;
  }

  .l-sidebar-content {
    position: relative;
    overflow: auto;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
}


.l-map {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
